.select {
	position: relative;
	height: 40px;
	width: 100%;
}

.select__heading {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	padding: 0 16px;
	background: var(--input-background);
	cursor: pointer;
}

.select__heading--selected-option {
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
}

.select__heading--arrow {
	font-size: 16px;
	font-weight: bold;
	transition: all 100ms ease;
}

.select__heading--arrow--flipped {
	transform: rotate(180deg);
}

.select__list {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	margin: 0;
	border-radius: 8px;
	padding: 0;
	background: white;
	list-style-type: none;
	box-shadow: 6px 6px 18px rgba(61, 61, 61, 0.1);
	transition: all 200ms ease;
}

.select__list--show {
	top: 48px;
	opacity: 1;
	pointer-events: auto;
}
