.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 80px;
	margin-top: -40px;
	margin-left: -40px;
	background: transparent;
}

.loader__dot {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: var(--dark-blue);
	opacity: 0;
	animation: loader-animation 900ms linear infinite;
}

.loader__dot--one {
	animation-delay: 0ms;
}

.loader__dot--two {
	animation-delay: 300ms;
}

.loader__dot--three {
	animation-delay: 600ms;
}

/* @keyframes loader-animation {
	0% { transform: translateY(0px); opacity: 0.33; }
	20% { transform: translateY(-8px); opacity: 0.33; }
	40%, 100% { transform: translateY(0px); opacity: 0.33; }
} */

@keyframes loader-animation {
	0% { transform: scale(1); opacity: 0.33; }
	20% { transform: scale(1.33); opacity: 0.67; }
	40%, 100% { transform: scale(1); opacity: 0.33; }
}

/* @keyframes loader-animation {
	0% { transform: scale(1) translateY(0); opacity: 0.33; }
	20% { transform: scale(1.33) translateY(-8px); opacity: 0.33; }
	40%, 100% { transform: scale(1) translateY(0); opacity: 0.33; }
} */
